.bg-light {
	background: #519cff27 !important;
}
.news-card{
	max-height: 150px!important;
}
.card-ext {
	all: unset;
}
b,
strong {
	font-size: 0.9rem !important;
	font-weight: normal !important;
}

.active{
	background-color: rgb(15, 143, 218)!important;
}
