.row{
	margin-bottom: 1.4rem;
}
.card{
	height:100%;
	// margin-bottom: 2rem!important;
}

.btn-outline-light{
	border: 3px solid rgb(175, 172, 172)
}

.bg-primary{
		background-color: #24b0ed!important;;
}

.my-bold-font{
	font-weight: 700 !important ;
	font-size:x-large;
}
