/* You can add global styles to this file, and also import other style files */
.btn{
	background-image:none!important
}

.bg-primary{
	background-color: #24b0ed!important;
}

.bg-warning{
	background-color: #caa350!important;
}
.cursor-pointer{
	cursor: pointer;
}

li.page-item {

	a.page-link{
		color:grey!important
	}
}
